<h2> Product details page </h2>

<h3> <%= @the_product.name %> </h3>

<div> Price: $<%= @the_product.price %> </div>

<p> <%= @the_product.description %> </p>

<img src="<%= @the_product.image %>">


<h4> Reviews </h4>

<ul>
  <% @the_product.reviews.each do |the_review| %>
    <li>
      <%= the_review.message %>
      <%= link_to "Edit", edit_product_review_path(@the_product, the_review) %>
    </li>
  <% end %>
</ul>


<h4> Add a review </h4>

<%= render "reviews/review_form" %>
